.header_top {
  height: 10vh;
  background-color: darkblue;
  color: white;
  width: 100%;
}

.row #htop_1 {
  height: 10vh;
  background-color: red;
}

.row #htop_2 {
  height: 10vh;
  background-color: yellow;
}

.ms_jumbotron {
    background-color: blue;
}

.wrapped {
  width: 50%;
  margin: 0 auto;
}

.ms_jumbotron .wrapped .container-fluid{
  height:50vh;
}

/* CAMBIO IL BOX CON ABSOLUTE CENTRATO OCN UNA COL 12 con TEXT CENTRATO */
/* .ms_jumbotron .container-fluid .ms_box {
  height: 100%;
  width: 50%;
  background-color: red;
  margin: 0 auto;
  /* position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%); */
/* } */


.portfolio .container .box {
  height: 10vh;
  /* margin:0 auto; */

  background-color: grey;
}

.table .row .col-md-4 {
  height: 40vh;
  background-color: green;
}

.about {
  width: 100%;
  background-color: red;
}

.intestazione {
  height: 15vh;
  background-color: blue;
}

.about .wrapped .container-fluid .row .col-md-6 {
  height:20vh;
  background-color: green;
}

.about .wrapped .container-fluid .box {
  background-color: rgb(99, 167, 97);
  text-align: center;
  height: 10vh;
}

.margin_col{
  padding: 10px;
}

.nested_square {
  height: 100%;
  width: 100%;
  background-color: red;
  border-radius: 10px;

}

.contact {
  background-color: yellow;
}
.contact .wtrapped .container-fluid .row .col-md-12 {
  height: 40vh;
}

.footer_top{
  background-color: lightblue;
  width: 100%;
}
.footer_top .container .row .col-md-4 {
  height:20vh;
  background-color: green;
}

.footer_bottom{
  width: 100%;
  height:10vh;
  background-color: red;
}

.int_little {
  height:10vh;
}

.fa-bars {
  font-size: 4em;
  float: right;
  vertical-align: middle;
  color:blue;
}
