/* utility */
.padding_top_standard {
  padding-top: 20px;
}

.padding_bottom_standard {
  padding-bottom: 20px;
}

.pdg_top {
  padding-top:10vh;
}

h1 {
  text-transform: uppercase;
}



header {
  color:white;
}

.header_top {
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  height: 10vh;
  background-color:rgb(44,62,80);
  width: 100%;
}

.row #htop_1 {
  height: 10vh;
  line-height: 10vh;
  /* background-color: red; */
}
.row #htop_1 h3 {
  display: inline-block;
  line-height: 6vh;
}

.row #htop_2 {
  height: 10vh;
  line-height: 10vh;
  /* background-color: yellow; */
  font-size: 1.3em;
}

.row #htop_2 ul li {
  font-weight: bolder;
  color: white;
}
.row #htop_2 ul li a {
  color: white;
}

.ms_jumbotron {
    background-color: rgb(16,188,156);
}

.wrapped {
  width: 50%;
  margin: 0 auto;
}

/* .ms_jumbotron .wrapped .container-fluid{
  height:50vh;
} */

#avatar {
  width: 50%;
}

.prova{
  min-width: 100%;
}

/* CAMBIO IL BOX CON ABSOLUTE CENTRATO OCN UNA COL 12 con TEXT CENTRATO */
/* .ms_jumbotron .container-fluid .ms_box {
  height: 100%;
  width: 50%;
  background-color: red;
  margin: 0 auto;
  /* position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%); */
/* } */


.portfolio .container .box {
  /* height: 20vh; */
  /* margin:0 auto; */

  /* background-color: grey; */
}
#hr_1 ,
#hr_2 {
  background-color:rgb(44,62,80);
}
#hr_4 ,
#hr_3 {
  background-color: white;
}


/* .table .row .col-md-4 {
  height: 40vh;
  background-color: green;
} */

.about {
  width: 100%;
  background-color: red;
}

.intestazione {
  /* height: 15vh; */
  /* background-color: blue; */
}

.width_50 {
  width: 50%;
}

.about .wrapped .container-fluid .row .col-md-6 {
  /* height:20vh; */
  /* background-color: green; */
}

.about .wrapped .container-fluid .box {
  /* background-color: rgb(99, 167, 97); */
  text-align: center;
  /* height: 10vh; */
}

.margin_col{
  padding: 10px;
}

.table .row .col-md-4 .nested_square img {
  width: 100%;
  border-radius: 10px;
}



.layover_img {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgb(16,188,156);
  opacity: 0;
}
.layover_img:hover {
  opacity: 1;
}
.plus_symbol {
  font-size: 5em;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.nested_square {
  /* height: 100%; */
  position: relative;
  width: 100%;
  object-fit:cover;
  /* background-color: red; */
  border-radius: 10px;
}

.about {
  color: white;
  background-color: rgb(16,188,156);
}

.contact {
  color:rgb(44,62,80);
  /* background-color: yellow;
  height: 50vh; */
}
.contact .wtrapped .container-fluid .row .col-md-12 {
  height: 40vh;
}

.footer_top{
  background-color: lightblue;
  width: 100%;
}
.footer_top .container .row .col-md-4 {
  /* height:20vh;
  background-color: green; */
}

.footer_bottom{
  width: 100%;
  height:5vh;
  line-height: 5vh;
  background-color:rgb(44,62,80);
  color: white;
}

.int_little {
  text-align: center;
}

.fa-bars {
  font-size: 4em;
  float: right;
  vertical-align: middle;
  color:white;
  line-height: 10vh;
}
.fa-bars2 {
  font-size: 2em;
  border: 2px solid white;
  border-radius:50px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

#about_btn {
  background-color: transparent;
  border: 2px solid white;
}

#contact_btn {
  background-color: rgb(16,188,156);
  color: white;
  padding: 5px;
}

.text_area {
  margin-bottom: 10px;
}

.footer_top {
  color: white;
  background-color: rgb(58,84,109);
}

.footer_top .container .row .col-md-4 {
  text-align: center;
}
.footer_top .container .row .col-md-4 h3 {
  text-transform: uppercase;
}



.clr_greenblue {
  color:rgb(16,188,156);
}

.star_icon {
 line-height: 40px;
}

.row .col-xs-2 {
  text-align: center;
}
