.header_top {
  height: 10vh;
  background-color: darkblue;
  color: white;
}

.row #htop_1 {
  height: 10vh;
  background-color: red;
}

.row #htop_2 {
  height: 10vh;
  background-color: yellow;
}

.jumbotron {
    background-color: blue;
}
.jumbotron .container-fluid{
  height:50vh;
  position:relative;
}
.jumbotron .container-fluid .box {
  height: 100%;
  width: 50%;
  background-color: red;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portfolio .container .box {
  height: 10vh;
  /* margin:0 auto; */
  text-align: center;
  background-color: grey;
}

.table .row .col-lg-4 {
  height: 40vh;
  background-color: green;
}
